<div class="navbar navbar-fixed-top">  
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span8">
            <div id="profile-container" >
            </div>
        </div>
        <div class="span2">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span8">
            <div class="row-fluid">
                <div class="span5">
                    <div class="well sidebar-nav">
                        <div class="dashboard">  
                            <div data-component-term="mini_home_profile" class="module mini-profile">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-main span7">
                    <div class="content-header">
                        <div class="header-inner">
                            <h2>
                                <span class="js-stream-title"></span>
                            </h2>
                        </div>
                        <div class='js-search-form content-searchbar hide'>
                            <table class="flex-table">
                                <tbody>
                                    <tr>
                                        <td class="flex-table-primary">
                                            <div class="flex-table-form">
                                                <input type="text" placeholder="Search using a person’s full name or @username" class="flex-table-input search-query">
                                            </div>
                                        </td>
                                        <td class="flex-table-secondary">
                                            <button type="submit" class="btn flex-table-btn js-submit" tabindex="0">
                                                Search Zirpen</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="stream">
                        <div id="home-stream-manager" class="stream-manager js-stream-manager-container">
                            <div class="stream-title">
                            </div>
                            <div class="stream-container">
                                <div class="stream home-stream" data-component-term="stream" data-media="true">
                                    <div class="stream-item" style="display: none;">
                                        <div class="new-tweets-bar">
                                        </div>
                                    </div>
                                    <div id="stream-items-id" class="js-stream-items stream-items ">
                                    </div>
                                    <div class="stream-loading" id="stream-end-marker">
                                        <div class="stream-end-inner">
                                            <span title="Loading..." class="spinner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span2">
        </div>
    </div>
</div>
